Repository stanford-oval/thingpedia-common-devices, pull requests merged in 2021-02, with the labels that each got.

#225 Update primitive templates for IoT
  main/org.thingpedia.iot.door/dataset.tt
  main/org.thingpedia.iot.humidity/dataset.tt
  main/org.thingpedia.iot.humidity/manifest.tt
  main/org.thingpedia.iot.illuminance/manifest.tt
  main/org.thingpedia.iot.light-bulb/dataset.tt
  main/org.thingpedia.iot.light-bulb/eval/dev/annotated.txt
  main/org.thingpedia.iot.light-bulb/eval/train/annotated.txt
  main/org.thingpedia.iot.switch/eval/dev/annotated.txt
  main/org.thingpedia.iot.switch/eval/train/annotated.txt
  main/org.thingpedia.iot.temperature/dataset.tt
  main/org.thingpedia.iot.temperature/manifest.tt
Labels: iot, release: main, training-data

#228 com.smartnews: move to universe level and cleanup
  staging/com.smartnews/manifest.tt
  test/unit/universe/com.smartnews.js
  universe/com.smartnews/database-map.tsv
  universe/com.smartnews/dataset.tt
  universe/com.smartnews/eval/dev/annotated.txt
  universe/com.smartnews/eval/paraphrase.tsv
  universe/com.smartnews/eval/scenarios.txt
  universe/com.smartnews/eval/train/annotated.txt
  universe/com.smartnews/index.js
  universe/com.smartnews/manifest.tt
  universe/com.smartnews/package-lock.json
  universe/com.smartnews/package.json
Labels: release: universe

#231 org.thingpedia.iot.*: set #[confirm=false] to all actions
  main/org.thingpedia.iot.battery/manifest.tt
  main/org.thingpedia.iot.door/manifest.tt
  main/org.thingpedia.iot.flood/manifest.tt
  main/org.thingpedia.iot.humidity/manifest.tt
  main/org.thingpedia.iot.illuminance/manifest.tt
  main/org.thingpedia.iot.light-bulb/manifest.tt
  main/org.thingpedia.iot.motion/manifest.tt
  main/org.thingpedia.iot.switch/manifest.tt
  main/org.thingpedia.iot.temperature/manifest.tt
  main/org.thingpedia.iot.uv/manifest.tt
Labels: bug, release: main

#235 Remove automatically inserted [1] clause for playing music
  main/com.spotify/dataset.tt
  main/com.spotify/eval/dev/annotated.txt
  main/com.spotify/eval/paraphrase.tsv
  main/com.spotify/eval/scenarios.txt
  main/com.spotify/eval/train/annotated.txt
  package-lock.json
  package.json
  universe/com.xkcd/eval/scenarios.txt
Labels: parameter-change, release: main

#246 com.spotify: auto-spawn spotify app if possible
  main/com.spotify/index.js
Labels: enhancement, release: main

#227 Implement Playlists and Podcasts into Spotify
  main/com.spotify/dataset.tt
  main/com.spotify/eval/dev/annotated.txt
  main/com.spotify/eval/scenarios.txt
  main/com.spotify/index.js
  main/com.spotify/manifest.tt
Labels: new-function, release: main

#255 Make Yelp a tad less embarassing
  main/com.yelp/eval/scenarios.txt
  main/com.yelp/index.js
  test/scenarios/index.js
Labels: bug, release: main
