Repository stanford-oval/thingpedia-common-devices, pull requests merged in 2021-07, with the labels that each got.

#365 com.spotify: fix playing exactly one song
  main/com.spotify/index.js
Labels: bug, release: main

#367 Add radio skill to Almond
  main/com.tunein/dataset.tt
  main/com.tunein/icon.png
  main/com.tunein/index.js
  main/com.tunein/manifest.tt
  main/com.tunein/package-lock.json
  main/com.tunein/package.json
  test/unit/main/com.tunein.js
Labels: new-device, release: main

#377 update radio show value type to free strings
  main/com.tunein/index.js
  main/com.tunein/manifest.tt
  test/unit/main/com.tunein.js
Labels: parameter-change, release: main

#386 Annotate logs from Tony's testing
  builtin/org.thingpedia.builtin.thingengine.builtin/eval/dev/annotated.txt
  builtin/org.thingpedia.builtin.thingengine.builtin/eval/train/annotated.txt
  builtin/org.thingpedia.builtin.thingengine.gnome/manifest.tt
  eval/everything/dev/annotated.txt
  eval/everything/train/annotated.txt
  main/com.spotify/index.js
  main/org.thingpedia.weather/eval/train/annotated.txt
  scripts/recording-to-devset.js
  staging/org.thingpedia.iot.media-player.wip/database-map.tsv
  staging/org.thingpedia.iot.media-player.wip/dataset.tt
  staging/org.thingpedia.iot.media-player.wip/eval/dev/annotated.txt
  staging/org.thingpedia.iot.media-player.wip/eval/paraphrase.tsv
  staging/org.thingpedia.iot.media-player.wip/eval/train/annotated.txt
  staging/org.thingpedia.iot.media-player.wip/icon.png
  staging/org.thingpedia.iot.media-player.wip/manifest.tt
  universe/com.thedogapi/eval/train/annotated.txt
Labels: training-data

#388 Wip/new radio
  main/com.tunein/eval/scenarios.txt
  main/com.tunein/index.js
  main/com.tunein/manifest.tt
Labels: bug, release: main

#380 Small fixes to the timer data
  Makefile
  builtin/org.thingpedia.builtin.thingengine.builtin/eval/dev/annotated.txt
  builtin/org.thingpedia.builtin.thingengine.builtin/eval/train/annotated.txt
  eval/everything/dev/annotated.txt
  eval/everything/train/annotated.txt
  main/org.thingpedia.weather/eval/dev/annotated.txt
  staging/com.giphy/eval/dev/annotated.txt
  staging/com.slack/eval/dev/annotated.txt
  staging/com.tesla.car/eval/train/annotated.txt
  universe/com.thecatapi/eval/dev/annotated.txt
  universe/com.xkcd/eval/dev/annotated.txt
  universe/com.xkcd/eval/train/annotated.txt
Labels: release: main, training-data

#391 fix scenarios and undefined date variable issue in movie skill
  main/com.spotify/eval/scenarios.txt
  universe/org.themoviedb/eval/scenarios.txt
  universe/org.themoviedb/index.js
Labels: bug, release: main

#392 Pass over annotations for Goal Smart
  universe/com.goal_smart/eval/scenarios.txt
  universe/com.goal_smart/manifest.tt
Labels: release: universe

#394 Fix some minor annotation issues
  eval/everything/dev/annotated.txt
  eval/everything/train/annotated.txt
  main/com.spotify/eval/dev/annotated.txt
  main/com.yelp/eval/dev/annotated.txt
Labels: bug, training-data

#395 Pipeline to annotate the new logs
  builtin/org.thingpedia.builtin.thingengine.builtin/eval/dev/annotated.txt
  builtin/org.thingpedia.builtin.thingengine.builtin/eval/train/annotated.txt
  builtin/org.thingpedia.builtin.thingengine.builtin/icon.png
  eval/everything/dev/annotated.txt
  eval/everything/train/annotated.txt
  main/com.bing/eval/train/annotated.txt
  main/com.icanhazdadjoke/eval/dev/annotated.txt
  main/com.icanhazdadjoke/eval/train/annotated.txt
  main/com.smartnews/eval/train/annotated.txt
  main/com.tunein/eval/dev/annotated.txt
  main/com.tunein/eval/train/annotated.txt
  main/com.yelp/eval/dev/annotated.txt
  main/com.yelp/eval/train/annotated.txt
  main/org.thingpedia.iot.light-bulb/eval/train/annotated.txt
  main/org.thingpedia.media-player/eval/dev/annotated.txt
  main/org.thingpedia.media-player/eval/train/annotated.txt
  main/org.thingpedia.media-source/eval/dev/annotated.txt
  main/org.thingpedia.media-source/eval/train/annotated.txt
  main/org.thingpedia.weather/eval/dev/annotated.txt
  main/org.thingpedia.weather/eval/train/annotated.txt
  scripts/download-dataset.sh
  scripts/recording-to-devset.js
  universe/com.goal_smart/eval/train/annotated.txt
  universe/org.themoviedb/eval/dev/annotated.txt
Labels: training-data

#402 made scenario test 1 more generic in the moviedb skill
  universe/org.themoviedb/eval/scenarios.txt
Labels: enhancement, release: universe

#407 org.thingpedia.media-player: reply with "stopped" to "stop" / "pause"
  main/com.spotify/eval/scenarios.txt
  main/org.thingpedia.media-player/manifest.tt
Labels: release: main
